li {
    font-size: 16px;
  }
  .table-container{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .table-header-row-con {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .table-header-row {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    text-align: center;
  }
  
  .user-row-con {
    padding-bottom: 10px;
  
  
  }
  
  .user-row {
    background-color: #F2F2F2;
    border-radius: 10px;
    cursor: pointer;
    
  }
  
  .user-row:hover {
    background-color: #dddddd;
    transition: 0.4s;
  
  }
  
  
  .table-user-row {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    text-align: left;
    align-items: center;
    text-align: center;
    height: 50px;
  }
  
  
  p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  @media screen and (max-width: 900px) {
    .table-item-title {
      display: inline;
      align-items: center;
    }
    .table-container{
      padding: 20px 0px;
      text-align: center;
  
    }
   li {
     font-size: 14px;
   }
   .table-user-row {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
   }
  
   .table-header-row {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
   }
  }