li {
  font-size: 16px;
}
.table-container{
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.table-header-row-con {

  /* width: 100%; */
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.table-header-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 40px;
  list-style: none;
  text-align: center;
  /* width: 60vw; */
  /* justify-content: end; */
}

.eq-item-row-con {
  padding-bottom: 10px;


}

.eq-item-row {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding-left: 10px;
}

.table-item-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 40px;
  list-style: none;
  text-align: left;
  align-items: center;
  text-align: center;
  height: 90px;
}

.table-item-img {
  display: grid;
  text-align: left;
  grid-template-columns: 90px 1fr;
}

p,
h4 {
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 60em) {
  .table-item-title {
    display: inline;
    /* font-size: 14px; */
    align-items: center;
    /* font-size: 80%; */
  }
}